


body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 625px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 30px;
    height: 24px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Стилі для секції з автомобілями */
section {
  max-width: 800px; /* Задаємо максимальну ширину секції */
  margin: 0 auto; /* Вирівнюємо секцію по центру */
  padding: 20px;
  text-align: center;
}

/* Стилі для назви "Доступні автомобілі" */
section h2 {
  margin-top: 0;
}

/* Стилі для списку автомобілів */
.car-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Стилі для кожного елемента списку */
.car-list li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Стилі для зображення автомобіля */
.car-list li img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Стилі для назви автомобіля */
.car-list li h3 {
  margin-top: 10px;
  font-size: 18px;
}

/* Стилі для ціни автомобіля */
.car-list li p {
  margin: 10px 0;
  font-size: 14px;
}

/* Стилі для посилання "Забронювати" */
.car-list li a {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Стилі для футера */
footer {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

/* Стилі для авторського тексту */
footer p {
  margin: 0;
  font-size: 12px;
  color: #888;
}